.bottom {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  /*width: 100%;*/
  background-color: #292929;
}

.bottomc {
  display: inline-block;
  text-align: center;
}

.bottomc ul{
  font-family: verdana;
  color: #1b7821;
  list-style-type: none;
}
.bottomc a{
  font-size: small;
  color: #bbbbbb;
}
.bottomc a:link{
  text-decoration: none;
  transition-duration: .2s;
}
.bottomc a:hover{
  color: #6a6a6a;
}

.list1 {
  vertical-align: top;
  display: inline-block;
  text-align: center;
}
.list2 {
  vertical-align: top;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  text-align: center;
}
.list3 {
  vertical-align: top;
  padding-right: 50px;
  display: inline-block;
  text-align: center;
}

.container ul {
  list-style-type: none;
}