.content {
  background-color: #444444;
  padding-top: 300px;
  padding-bottom: 600px;
  text-align: center;
}

.main {
  display: inline-block;
  text-align: center;
}

.text {
  color: #d1d1d1;
}

.content td input{
  color: #000;
}

