.content {
  background-color: #444444;
  padding-top: 100px;
  padding-bottom: 600px;
  text-align: center;
}

.main {
    display: inline-block;
    text-align: center;
    color: #dddddd;

}
.main td input{
    color: #2f2f2f;
}
.welcome {
    margin-bottom: 50px;
}
.sendform td input{
    color: #dddddd;
}

.content table td {
    padding: 5px;
}


.sendform {
    padding-top: 100px;
    padding-left: 30px;
}
